

.grass-building {
  position: absolute;
  border: 1px solid black;
  /* width: 40px; */
  /* height: 40px; */
  /* bottom: 0px; */
  /* left: 361px; */
}

/* #hospital img {
  width: 100%;
  height: 100%;
} */