/* body > div,
body > div > div,
body > div > div > div.login-form,
body > div > div > div.signup-form {
    height: 100%;
} */

.grid-login {
    height: 600px;
}

.grid-column-login {
    max-width: 450px;
}

.grid-signup {
    height: 600px;
}

.grid-column-signup {
    max-width: 450px;
}

.form-container {
    width: 800px;
    margin: 0 auto
}
