body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.page-container {
  margin: 0 auto;
  width: 800px;
}

.card-container {
  overflow-y: scroll;
}

.divided-panel-container {
  height: 410px;
}

#game-loader-top {
  height: 90%;
  overflow: hidden;
}

.points {
  font-weight: bold;
}

.car-card img {
  margin: 10px auto 0;
  width: 70px;
  height: 70px;
}

#car-creator-top {
  /* height: 500px; */
  height: 90%;
  /* border: 1px solid black; */
  overflow: hidden;
}

#car-stats-form {
  height: 100%;
}
